doctype html
html(lang='en')
 head
   title Zoom api
   link(rel="stylesheet", href="/css/main.css")
 body
   h1 Here we ill see the zoom api working
   div.container
     p Pug rocks!
 script(src="/js/app.js", type ="module")